body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
} */

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*
li {
    float: left;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: auto;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding-top: 10px;
}

.wrapper {
    z-index: 0;
    width: 72.5%;
    margin: auto;
    height: 1000px;
}

.fill {
    overflow-wrap: normal;
    margin: 200px auto 50px auto;
    text-align: center;
}

.top {
    grid-area: 1 / span 3;
    overflow-wrap: normal;
    margin: 200px auto 50px auto;
    text-align: center;
}

.bottom-2 {
    grid-area: 5 /span 6;
    padding: 20px;
}

.item {
    padding: 20px;
    text-align: center;
    margin: 150px auto 150px auto;
}


.iconContainer {
    width: max-content;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sub {
    margin-left: 15px;
}

.icon {
    height: 175px;
    margin: auto;
}
