

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

h1  {
    color: #3F51B5;
}

h2 {
    color: #3F51B5;
}
h3 {
    color: #3F51B5;
}

h4 {
    color: #3F51B5;
}

h5 {
    color: #3F51B5;
}

h6 {
    color: #3F51B5;
}

/*
li {
    float: left;
} */

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

p {
    text-align: justify;
    text-justify: inter-word;
    padding: 0px 25px;
}

/* input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}  */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.fill {
    overflow-wrap: normal;
    margin: 200px auto 50px auto;
    text-align: center;
}

.bottom-2 {
    grid-area: 5 /span 6;
    padding: 20px;
}

.donationBox {
    background-color: lightgray;
    border-radius: 25px;
    align-content: center;
    width: 50vw;
    margin: auto

}

.donationButton {
    margin-top: auto;
    padding-bottom: 20px;
}

.footer {
    background-color: #36454f;
    height: 35vh;
    width: 100vw;
    color: lightgrey;
    align-content: center;
    justify-content: center;
    margin: 0px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.footer h3 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding-top: 30px;
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;

}

.footer h5 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding-top: 30px;

}

.footer h6 {
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding-top: 0px;

}


.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    padding-top: 10px;
}

.grid-2 h3 {
    text-align: center;

}


.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    margin: auto;
}

.iconContainer {
    width: max-content;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.inline {
    display: inline-flex;
}

.instructions {
    background-color: #00acb0;
    padding: 5px;
    color: #ece7e7;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.icon {
    height: 175px;
    margin: auto;
}

.item {
    padding: 20px;
    text-align: center;
    margin: 5vh auto;
}

.loginRegister {
    height: 55vh;
    align-content: center;
    text-align: center;
    margin: 15vh 5vh auto auto;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color: #00acb0;
  width: 100%;
  border-radius: 0px;
}

.secret {
    text-align: center;
    color: whitesmoke;
}

.sub {
    text-align: center;
}

.top {
    grid-area: 1 / span 3;
    overflow-wrap: normal;
    margin: 200px auto 50px auto;
    text-align: center;
}

.wrapper {
    z-index: 0;
    width: 72.5%;
    margin: auto;
    height: max-content;
    
}



#socialIcon {
    height: auto;
    margin: auto;
    /* background-color: red; */

    
}

#stripe {
    margin: auto;
    top: 0px;
   
    /* background-color: aquamarine; */
}



















