.aboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

#about {
    grid-area: 1 / span 2;
    overflow-wrap: normal;
    padding: 20px;

}

.board {
    height: 200px;
}

.tile {
    display: flex;
    height: max-content;
    margin-bottom: 20px;
}

.content {
    margin-left: 15px;
}